<main>
    <!-- Featurettes voor de homepage -->
    <div class="container marketing">




    <div class="row">
        <div class="col-lg-4" ng-repeat="foto in pictures">
            <img class="img" src="{{foto.bestandslocatie}}" alt="{{foto.descriptie}}" style="width: 248px; height: 140px;">
            <h2>{{foto.locatie}}</h2>
            <p>{{foto.descriptie}}</p>
        </div>
        <div class="clearfix" ng-if="$index%3=0"></div>
        <div ng-repeat-end=""></div>

    </div>
        </div>

</main>