<div class="container locatiedetail">

    

    <h1>{{locatie.Locatie}}</h1>
    <p>{{locatie.Descriptie}}<p>

    <a href="#/gallery/"><span class="glyphicon glyphicon-arrow-left"></span> terug naar de gallerij</a>

    <div class="locatie-images">
        <img ng-src="{{img}}"
             class="locatie"
             ng-repeat="img in locatie.images"
             ng-class="{active: mainImageUrl==img}">
    </div>

    

    <ul class="img-thumbs">
        <li ng-repeat="img in locatie.images">
            <img ng-src="{{img}}" ng-click="setImage(img)" />
        </li>
    </ul>
</div>