<div class="container locaties">
    <h1>Vroeger en Nu</h1>
    <p>Klik op de foto's om te zien hoe deze plaatsen veranderd zijn door de jaren heen!</p>


    <div ng-repeat="vn in vroegernu">
        <div ng-if="$index % 3 == 0">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4" ng-if="vroegernu[$index+0]">
                    <a href="#/vroegernu/{{vroegernu[$index+0].id}}">
                        <img class="imggallery" ng-src="{{vroegernu[$index+0].bestandslocatie}}" alt="{{foto.descriptie}}">
                    </a>
                    <a href="#/vroegernu/{{vroegernu[$index+0].id}}"><h2>{{vroegernu[$index+0].locatie}}</h2></a>
                    <p>{{vroegernu[$index+0].descriptie}}</p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4" ng-if="vroegernu[$index+1]">
                    <a href="#/vroegernu/{{vroegernu[$index+1].id}}">
                        <img class="imggallery" ng-src="{{vroegernu[$index+1].bestandslocatie}}" alt="{{foto.descriptie}}">
                    </a>
                    <a href="#/vroegernu/{{vroegernu[$index+1].id}}"><h2>{{vroegernu[$index+1].locatie}}</h2></a>
                    <p>{{vroegernu[$index+1].descriptie}}</p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4" ng-if="vroegernu[$index+2]">
                    <a href="#/vroegernu/{{vroegernu[$index+2].id}}">
                        <img class="imggallery" ng-src="{{vroegernu[$index+2].bestandslocatie}}" alt="{{foto.descriptie}}">
                    </a>
                    <a href="#/vroegernu/{{vroegernu[$index+2].id}}"><h2>{{vroegernu[$index+2].locatie}}</h2></a>
                    <p>{{vroegernu[$index+2].descriptie}}</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!--<div class="container">
    <h1>Vroeger en Nu</h1>
    <p>Klik op de foto's om te zien hoe deze plaatsen veranderd zijn door de jaren heen!</p>
    <div class="row">
        <figure class="cd-image-container">
            <img src="img/vroegernu/1A.jpg" alt="Original Image">
            <span class="cd-image-label" data-type="original">Nu</span>

            <div class="cd-resize-img">
                <!-- the resizable image on top -->
<!--<img src="img/vroegernu/1B.jpg" alt="Modified Image">
<span class="cd-image-label" data-type="modified">Vroeger</span>
            </div>

<span class="cd-handle"></span>
        </figure>  cd-image-container 
<script src="js/cd-image.js"></script>
    </div>
</div>-->